.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

table {
  border: 1px solid black;
}

th {
  padding: 10px 30px;
}

td {
  padding: 5px 10px;
}

tr:hover {
  color: white;
  background-color: rgb(20, 19, 19);
}
